

.container {
    background-color: rgb(36, 36, 36);
    height: 50vh;
    width: 50vw;
    color: aliceblue;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    border-radius: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    animation-name: breathe;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

app-title {
    grid-column: span 5 / span 5;
    text-align: center;
}

app-timer {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    display: grid;
    place-items: center;
}

.startDiv {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
    display: grid;
    place-items: center;

}

.stopDiv {
    grid-column-start: 4;
    grid-row-start: 4;
    display: grid;
    place-items: center;

}

.pauseDiv {
    grid-column-start: 5;
    grid-row-start: 4;
    display: grid;
    place-items: center;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, rgb(173, 68, 135) 9.16%, rgba(240, 46, 170) 43.89%, rgb(211, 55, 154) 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(173, 68, 135) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
button:hover {
    cursor:pointer;
}

button:active {
    transform: translateX(-2px);
    transform: translateY(-2px);
}

@keyframes breathe {
    0% { box-shadow: rgba(240, 46, 170, 0.4) 0px 0px, rgba(240, 46, 170, 0.3) 0px 0px, rgba(240, 46, 170, 0.2) 0px 0px, rgba(240, 46, 170, 0.1) 0px 0px, rgba(240, 46, 170, 0.05) 0px 0px; }
    100% { box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; }
}

@media (max-width: 768px) {
    .container {
        width: 80vw;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 8px;
    }

    app-title {
        grid-column: span 3 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    }

    app-timer {
        grid-column: span 3 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    }

    .startDiv {
        grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
    }

    .pauseDiv {
        grid-column: span 3 / span 3;
    grid-row-start: 6;
    }

    .stopDiv {
        grid-column: span 3 / span 3;
    grid-row-start: 7;
    }



}